django
django-heroku
importlib-metadata
click
Flask
greenlet
itsdangerous
Jinja2
joblib
numpy
python-dateutil
pytz
scikit-learn
six
sklearn
threadpoolctl
gunicorn
Pandas
setuptools
pymysql
sklearn
SQLAlchemy
